<div class="row title">Munkatársaink</div>
<div class="row horizontal">

  <ks-swiper-container [options]="swiperOptions">
    <ks-swiper-slide *ngFor="let item of colleagues">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
          <div class="panel panel-default">

            <div class="panel-body">
              <div class="col-lg-8 col-lg-offset-3 col-sm-8 col-sm-offset-3 col-xs-12">
                <h2 class="colleague-name">{{item.name}}</h2>
              </div>
              <div class="row">
                <div class="col-lg-3 col-sm-4 col-xs-12">
                  <div class="row">
                    <div class="col-xs-5 col-sm-12">
                      <div class="colleague-image">
                        <img alt="" class="img-responsive img-thumbnail"
                             src="{{item.image ? getImageUrl(item.image) : 'https://www.whatmatrix.com/assets/images/default_user.png'}}">
                      </div>
                    </div>
                    <div class="colleague-contact-wrapper col-xs-7 col-sm-12">
                      <h4>Elérhetőségek</h4>
                      <div class="colleague-contacts">
                        <label>Telefon</label>
                        <p>{{item.phone}}</p>
                        <label>Email</label>
                        <p>{{item.email}}</p>
                        <div *ngIf="item.cv">
                          <label>Önéletrajz</label>
                          <p><a href="{{getCVUrl(item.cv)}}" target="_blank">letöltés</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-justify colleague-desc col-lg-8 col-sm-8 col-xs-12" [innerHTML]="item.description">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ks-swiper-slide>
  </ks-swiper-container>
</div>
