.colleague-image {
  width: 150px;
  margin: -150px auto 0;
  box-shadow: 1px 1px 3px 0px #424242;
}

.panel {
  margin-top: 100px;
  margin-bottom: 70px;
  padding-bottom: 30px;
}

.colleague-desc {
  margin-top: 50px;
  white-space: pre-line;
}

.colleague-contact-wrapper {
  margin-top: 55px;
}

.colleague-contacts {
  margin-top: 20px;
}


@media (max-width: 768px){
  .colleague-image {
    margin: 10px auto 0;
  }

  .colleague-contact-wrapper {
    margin-top: 30px;
  }

  .colleague-desc {
    margin-top: 20px;
    font-size: 16px;
  }
  .colleague-name{
    font-size: 26px;
  }
}
