<div class="row horizontal">
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div *ngFor="let item of news" class="swiper-slide">
        <div>{{item.title}}</div>
        <!--{{last ? initSwiper() : ''}}-->
        <div>{{item.shortDescription}}</div>
        <div>{{item.description}}</div>
        <div class="text-right">{{item.date | date }}</div>
        <!--<span *ngIf="l">{{initSwiper()}}</span>-->
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
