<div class="row horizontal">
  <ks-swiper-container [options]="newsOptions">
    <ks-swiper-slide [style.background-image]=" 'url(' + getImageUrl(item.image) + ')'" *ngFor="let item of news">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-1 col-sm-6 col-sm-offset-1">
          <div [innerHTML]="item?.title" class="item-title"></div>
        </div>
      </div>

      <!--{{last ? initSwiper() : ''}}-->
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
          <div class="item-short-desc">
            <div [innerHTML]="item.shortDescription"></div>

            <div class="item-desc" [style.height]="item.descHeight">
              <div class="desc-wrapper" [innerHTML]="item.description"></div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
          <div class="col-lg-6 col-sm-6 readable-background">
            <div *ngIf="!item.bDetailedView" class="text-left newsMore"><a (click)="onDetailedView(item)">Bővebben</a></div>
            <div *ngIf="item.bDetailedView" class="text-left newsMore"><a (click)="onDetailedView(item)">Vissza</a></div>
          </div>
          <div class="col-lg-6 col-sm-6 readable-background">
            <div class="text-right newsDate">{{item.date | date }}</div>
          </div>
        </div>
      </div>
    </ks-swiper-slide>
    <!--<div class="swiper-pagination"></div>-->
  </ks-swiper-container>
  <div class="swiper-button-next swiper-button-white" (click)="moveNext()"></div>
  <div class="swiper-button-prev swiper-button-white" (click)="movePrev()"></div>
  <!--<flora-detailed-view></flora-detailed-view>-->
</div>
