.horizontal {
  height: 100%;

}

.horizontal-content {
  display: inline-block;
}

.horizontal-btn {
  display: inline-block;
}

.swiper-slide {
  /*background: #FFEB83;*/
}

.item-title{
  background-color: #ef8e0e;
  padding: 0.3em;
  color: #ffffff;
  font-family: Roboto Bold, sans-serif;
  font-size: 35px;
  font-weight: 400;
  margin-top: 50px;
}

.item-short-desc {
  color: #ffffff;
  font-family: Roboto Condensed, sans-serif;
  font-size: 30px;
  margin-top: 50px;
  font-weight: 400;
  text-align: justify;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 0.5em;
}

.readable-background {
  background-color: rgba(50, 50, 50, 0.5);
  padding: 0.5em;
}
