<div class="row title">
  Jelentkezz önkéntesnek
</div>
<div class="row volunteering v-center">
  <div class="col-lg-5 col-sm-5 col-lg-offset-1 col-sm-offset-1">
    <p>Nullam quis risus eget urna mollis ornarevel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
    <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
    <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
  </div>
  <div class="col-lg-6 col-sm-6">
    <form [formGroup]="volunteerForm" (submit)="onSubmit()" class="form-horizontal">

      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Név</label>
        <div class="col-lg-6">
          <input formControlName="name" id="inputName" type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-6">
          <input formControlName="email" id="inputEmail" type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="inputPhone" class="col-lg-2 control-label">Telefonszám</label>
        <div class="col-lg-6">
          <input formControlName="phone" id="inputPhone" type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-6 col-lg-offset-2">
          <button [disabled]="!volunteerForm.valid" type="submit" class="btn btn-primary">Jelentkezek</button>
        </div>
      </div>

    </form>
  </div>
</div>
