<div class="col-lg-12 footer">
  <div class="row impress">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-3">
          <address>
            <strong>Flora alapitvany</strong><br>
            1084 Jozsef utca<br>
            Budapest, CA 94103<br>
            <abbr title="Telefon">Tel:</abbr> (123) 456-7890
          </address>
          <address>
            <strong>email</strong><br>
            <a href="mailto:#">first.last@example.com</a>
          </address>
        </div>
        <div class="col-lg-3">
          <address>
            <strong>bankszamlaszam</strong><br>
            <span>0000173-73085-00050445</span>
          </address>
          <address>
            <strong>adoszam</strong><br>
            <span>00050445</span>
          </address>
        </div>
      </div>
    </div>
    <div class="verticalSeparator"></div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          Rolunk TBD
        </div>
      </div>
    </div>
  </div>
  <div class="row center">
    <span>&#169; 2017 Flóra Alapitvány</span>
    <span (click)="onNavigateToAdminPage()">Admin oldal</span>
  </div>
</div>
