.footer {
  height: 30px;
  line-height: 30px;
  color: aliceblue;
  z-index: 1000;
}

.impress {
  background-color: #307D6D !important;
  color: aliceblue;
  padding-top: 20px;
  padding-bottom: 10px;
}

.center {
  /*background-color: #870a1f;*/
  background-color: #307D6D;
  /*background-color: #02614d;*/
}

@media (max-width: 768px) {
  .footer-name {
    text-align: center;
  }
}


