<div class="col-lg-12 footer">
  <div class="row impress">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-2">
          <address>
            <strong>Bankszámlaszám</strong><br>
            <span>OTP Bank: 11703006-20035705</span>
          </address>
        </div>
        <div class="col-lg-2">
          <address>
            <strong>Adószám</strong><br>
            <span>18101041-1-41</span>
          </address>
        </div>
        <div class="col-lg-2">
          <address>
            <strong>Telefonszám</strong><br>
            <span>+36/30-733-4026</span>
          </address>
        </div>
        <div class="col-lg-4">
          <address>
            <strong>Flóra Értelmi Fogyatékosokért és Autistákért Alapítvány</strong><br>
            Attila utca 88.<br>
            Budapest, 1039<br>
          </address>
        </div>
        <div class="col-lg-2">
          <address>
            <strong>E-mail</strong><br>
            <a class="normalizeATag" href="mailto:#">floraertalapitvany@gmail.com</a>
          </address>
        </div>
      </div>
    </div>
    <!--<div class="verticalSeparator"></div>-->
    <!--<div class="col-lg-6">-->
      <!--<div class="row">-->
        <!--<div class="col-lg-6">-->
          <!--<div class="row">-->
            <!--<div class="col-lg-3 col-md-3">Kezdőlap</div>-->
            <!--<div class="col-lg-3 col-md-3">Események</div>-->
            <!--<div class="col-lg-3 col-md-3">Munkatársak</div>-->
            <!--<div class="col-lg-3 col-md-3">Tudásbázis</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col-lg-3 col-md-3">Támogatás</div>-->
            <!--<div class="col-lg-3 col-md-3">Önkéntesség</div>-->
            <!--<div class="col-lg-3 col-md-3">Rólunk</div>-->
            <!--<div class="col-lg-3 col-md-3">Kapcsolat</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="row center">
    <span>&#169; 2017 Flóra Alapitvány</span>
    <span (click)="onNavigateToAdminPage()">Admin oldal</span>
  </div>
</div>
