.library{
  padding: 40px;
  min-height: 600px;
  max-height: 600px;
}


.overfap {
  height: 500px;
  overflow: auto;
}

.list-group-item:hover {
  cursor: pointer;
}

.hvr-bounce-to-right:before {
  background: #f2665c;
}

.list-group-item.active {
  background: #f2665c;
}

.list-group-item {
  border: none;
}
