.library{
  padding: 40px;
}


.overfap {
  height: 500px;
  overflow: auto;
}

.list-group-item:hover {
  cursor: pointer;
}

.hvr-sweep-to-right:before {
  background: #f2665c;
}

.list-group-item.active {
  background: #f2665c;
}

.list-group-item {
  border: none;
}

@media (max-width: 768px){
  .knowledge-detail{
    font-size: 16px;
  }

}
