<div class="row title">Tudásbázis</div>

<div class="row horizontal library">

  <div class="col-lg-4 col-md-4 col-sm-4">
    <ul class="list-group">
      <li *ngFor="let item of knowledges;"
          (click)="onKnowledgeSelected(item)"
          [class.active]="selected == item"
          class="list-group-item hvr-sweep-to-right">
        {{item.title}}
      </li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-8 col-sm-8 col-lg-offset-1">
    <div class="panel panel-default overfap knowledge-detail">
      <div class="center">
        <h2>{{selected?.title}}</h2>
      </div>
      <div [innerHTML]="selected?.description" ></div>
      <div>
        Készitette:    {{selected?.creator}} -- {{selected?.date | date}}
      </div>
    </div>
  </div>

</div>
