<div class="col-lg-12 header">
  <div class="row v-center">
    <div (click)="onNavigateToHome()" class="col-lg-2">
      <div class="logo"></div>
    </div>
    <div class="col-lg-4 col-sm-4 title">Flóra Értelmi Fogyatékosokért és Autistákért Alapítvány</div>
    <div class="col-lg-3 col-lg-offset-2 col-sm-3 col-sm-offset-2 title">Adminisztrációs felület</div>
  </div>
</div>

<div class="admin-tabs">
  <!--<ul class="nav nav-tabs">-->
    <!--<li id="admin-news" role="presentation"><a>Hírek</a></li>-->
    <!--<li id="admin-colleagues"role="presentation"><a>Munkatársal</a></li>-->
  <!--</ul>-->
  <!--<flora-news #newscomp [news]="selectedRow" (newsSaved)="onNewsSaved($event)"></flora-news>-->
  <tabset>
    <tab title="Hírek">
      <flora-news ></flora-news>
    </tab>
    <tab title="Munkatársak">
      <flora-admin-colleague></flora-admin-colleague>
    </tab>
    <tab title="Események">
      <flora-admin-event></flora-admin-event>
    </tab>
    <tab title="Tudásbázis">
      <flora-knowledge></flora-knowledge>
    </tab>
    <tab title="Önkéntesek">
      <flora-volun-admin></flora-volun-admin>
    </tab>
    <tab title="Feliratkozottak">
      <flora-subs-admin></flora-subs-admin>
    </tab>
  </tabset>

</div>
