<div class="row">
  <flora-modal #modal [news]="selectedRow" (newsSaved)="onNewsSaved($event)"></flora-modal>
  <div class="col-lg-8">
    <h1>Hírek</h1>
    <a class="btn btn-success" (click)="modal.onNew()">Új</a>
    <a class="btn btn-primary" [class.disabled]="!selectedRow"  (click)="modal.onLoadValue()">Szerkesztés</a>
    <a class="btn btn-danger" [class.disabled]="!selectedRow"  (click)="onDelete()">Törlés</a>
  <table class="table table-striped table-hover" [mfData]="news" #mf="mfDataTable" [(mfSortBy)]="sortBy" [mfRowsOnPage]="5">
    <thead>
    <tr>
      <th style="width: 20%">
        <mfDefaultSorter by="title">Cím</mfDefaultSorter>
      </th>
      <th style="width: 30%">
        <mfDefaultSorter by="shortDescription">Rövid leírás</mfDefaultSorter>
      </th>
      <th style="width: 40%">
        <mfDefaultSorter by="description">Leírás</mfDefaultSorter>
      </th>
      <th style="width: 10%" class="text-right">
        <mfDefaultSorter by="date">Dátum</mfDefaultSorter>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data" (click)="selectedRow = item" [class.info]="selectedRow == item">
      <td>{{item.title}}</td>
      <td>{{item.shortDescription}}</td>
      <td>{{item.description}}</td>
      <td class="text-right">{{item.date | date }}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
  </div>

</div>
