<div class="row title">Kapcsolattartás</div>
<div class="row row-padding">
  <div class="col-lg-5 col-lg-offset-1 col-sm-6 col-md-6 col-xs-11 center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d672.9648367477794!2d19.058001829270214!3d47.57052499869888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741d98fbe5791e7%3A0x498517b673098d37!2sBudapest%2C+Varsa+u.+11%2C+1031+Magyarorsz%C3%A1g!5e0!3m2!1shu!2shu!4v1494268286287" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="col-lg-6 col-sm-6 col-md-6 center">
    <!--<iframe-->
    <!--width="600"-->
    <!--height="450"-->
    <!--frameborder="0" style="border:0"-->
    <!--src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCXcdxdvEN4_IW_KUjAsVgNFKaIWbvF3DU&q=Space+Needle,Budapest,+Üllői+út+25,+1091" allowfullscreen>-->
    <!--</iframe>-->

    <div class="fb-page" data-href="https://www.facebook.com/Fl%C3%B3ra-%C3%89rtelmi-Fogyat%C3%A9kosok%C3%A9rt-%C3%A9s-Autist%C3%A1k%C3%A9rt-Alap%C3%ADtv%C3%A1ny-1728126340850628/?fref=ts" data-tabs="timeline" data-height="400" data-width="800" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Fl%C3%B3ra-%C3%89rtelmi-Fogyat%C3%A9kosok%C3%A9rt-%C3%A9s-Autist%C3%A1k%C3%A9rt-Alap%C3%ADtv%C3%A1ny-1728126340850628/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Fl%C3%B3ra-%C3%89rtelmi-Fogyat%C3%A9kosok%C3%A9rt-%C3%A9s-Autist%C3%A1k%C3%A9rt-Alap%C3%ADtv%C3%A1ny-1728126340850628/?fref=ts">Flóra Értelmi Fogyatékosokért és Autistákért Alapítvány</a></blockquote></div>

  </div>
</div>
