<div data-spy="affix" data-offset-top="60" data-offset-bottom="200" class="col-lg-2 slider">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="icon-background">
            <div class="icon house-icon"></div>
          </div>
        </div>
         <div class="col-lg-6">
           kapcsolat
         </div>
      </div>
    </div>
  </div>
  <div class="row active">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="icon-background">
            <div class="icon house-icon"></div>
          </div>
        </div>
        <div class="col-lg-6">
          kapcsolat
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="icon-background">
            <div class="icon house-icon"></div>
          </div>
        </div>
        <div class="col-lg-6">
          kapcsolat
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="icon-background">
            <div class="icon house-icon"></div>
          </div>
        </div>
        <div class="col-lg-6">
          kapcsolat
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="icon-background">
            <div class="icon house-icon"></div>
          </div>
        </div>
        <div class="col-lg-6">
          kapcsolat
        </div>
      </div>
    </div>
  </div>
</div>
