<div class="col-lg-8">
  <h1>Hírek ({{activeNews}} aktív hír)</h1>
  <a class="btn btn-success" (click)="onNew()">Új</a>
  <a class="btn btn-primary" [class.disabled]="!selectedRow"  (click)="onLoadValue(selectedRow.id)">Szerkesztés</a>
  <a class="btn btn-danger" [class.disabled]="!selectedRow"  (click)="onDelete()">Törlés</a>
  <div class="pull-right">
    <label for="search-title">Keresés a címben:</label>
    <input id="search-title" type="text" [(ngModel)]="searchTitle">
  </div>
  <table class="table table-striped table-hover" [mfData]="news | filter: searchColumn:searchTitle" #mf="mfDataTable" [(mfSortBy)]="sortBy" [mfRowsOnPage]="5">
    <thead>
    <tr>
      <th style="width: 20%">
        <mfDefaultSorter by="title">Cím</mfDefaultSorter>
      </th>
      <th style="width: 25%">
        <mfDefaultSorter by="shortDescription">Rövid leírás</mfDefaultSorter>
      </th>
      <th style="width: 35%">
        <mfDefaultSorter by="description">Leírás</mfDefaultSorter>
      </th>
      <th style="width: 10%" class="text-right">
        <mfDefaultSorter by="date">Dátum</mfDefaultSorter>
      </th>
      <th style="width: 10%" class="text-center">
        <mfDefaultSorter by="active">Aktív</mfDefaultSorter>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data" (click)="selectedRow = item" [class.info]="selectedRow == item">
      <td>{{item.title}}</td>
      <td>{{item.shortDescription | truncate : 200}}</td>
      <td>{{item.description | truncate : 200}}</td>
      <td class="text-right">{{item.date | date }}</td>
      <td class="text-center" style="vertical-align: middle">
        <div class="checkbox checkbox-primary">
          <input class="styled" type="checkbox" [checked]="item.active" (change)="onActivation(item)"/>
          <label></label>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<div class="modal" [ngClass]="{show: showModal, hidden: !showModal}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="showModal = !showModal" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h4 class="modal-title">Hír szerkesztés</h4>
          </div>
          <div class="col-lg-3 col-sm-3">
            <button [disabled]="!newsForm.valid" (click)="onSubmit()" class="btn btn-primary pull-right">Mentés</button>
          </div>
        </div>

      </div>
      <div class="modal-body">
        <div style="margin-bottom: 40px">
          <form [formGroup]="newsForm" class="form-horizontal">

            <div class="form-group">
              <label for="title" class="col-lg-2 control-label">Cím</label>
              <div class="col-lg-9">
                <input formControlName="title" id="title" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="shortDescription" class="col-lg-2 control-label">Rövid leírás</label>
              <div class="col-lg-9">
                <textarea [froalaEditor]="froalaOptions" id="shortDescription" formControlName="shortDescription"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-lg-2 control-label">Hosszú leírás</label>
              <div class="col-lg-9">
                <textarea [froalaEditor]="froalaOptions"  formControlName="description" id="description"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="date" class="col-lg-2 control-label">Dátum</label>
              <div class="col-lg-4">
                <input formControlName="date" id="date" type="date" class="form-control" useValueAsDate>
              </div>
            </div>
            <div class="form-group">
              <label for="date" class="col-lg-2 control-label">Kép</label>
              <div class="col-lg-8">
                <flora-uploader [title]="'Kép feltöltés'" (imageUploaded)="onImageUploaded($event)"></flora-uploader>
                <input formControlName="image" id="image" type="input" [(ngModel)]="image" class="hidden">
                <div class="row">
                  <div class="col-lg-9">
                    <img id="mainImage" class="img-responsive img-thumbnail" *ngIf="image" src="{{getImage()}}">
                  </div>
                  <div class="col-lg-3">
                    <a class="btn btn-danger" (click)="onDeleteImage()" *ngIf="image">Kép törlése</a>
                  </div>
                </div>
              </div>
            </div>


            <!--<div class="form-group">-->
              <!--<div class="col-lg-12">-->
                <!--<button [disabled]="!newsForm.valid" type="submit" class="btn btn-primary pull-right">Mentés</button>-->
              <!--</div>-->
            <!--</div>-->

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
