<div class="modal" [ngClass]="{show: showModal, hidden: !showModal}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="showModal=false" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h4 class="modal-title">Hír szerkesztés</h4>
          </div>
          <div class="col-lg-3 col-sm-3">
            <button [disabled]="!newsForm.valid" (click)="onSubmit()" class="btn btn-primary pull-right">Mentés</button>
          </div>
        </div>

      </div>
      <div class="modal-body">
        <div style="margin-bottom: 40px">
          <form [formGroup]="newsForm" class="form-horizontal">

            <div class="form-group">
              <label for="title" class="col-lg-2 control-label">Cím</label>
              <div class="col-lg-9">
                <input formControlName="title" id="title" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="shortDescription" class="col-lg-2 control-label">Rövid leírás</label>
              <div class="col-lg-9">
                <input formControlName="shortDescription" id="shortDescription" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-lg-2 control-label">Hosszú leírás</label>
              <div class="col-lg-9">
                <textarea formControlName="description" id="description" class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="date" class="col-lg-2 control-label">Dátum</label>
              <div class="col-lg-4">
                <input formControlName="date" id="date" type="date" class="form-control" useValueAsDate>
              </div>
            </div>
            <div class="form-group">
              <label for="date" class="col-lg-2 control-label">Feltöltés</label>
              <div class="col-lg-9">
               <flora-uploader (imageUploaded)="onImageUploaded($event)"></flora-uploader>
              </div>
            </div>
            <div class="form-group">
              <label for="date" class="col-lg-2 control-label">Kép</label>
              <div class="col-lg-8">
                <input formControlName="image" id="image" type="input" class="hidden">
                <div class="row">
                  <div class="col-lg-9">
                    <img id="mainImage" class="img-responsive img-thumbnail" *ngIf="image" src="{{getImage()}}">
                  </div>
                  <div class="col-lg-3">
                    <a class="btn btn-danger" (click)="onDeleteImage()" *ngIf="image">Kép törlése</a>
                  </div>
                </div>
              </div>
            </div>


            <!--<div class="form-group">-->
              <!--<div class="col-lg-12">-->
                <!--<button [disabled]="!newsForm.valid" type="submit" class="btn btn-primary pull-right">Mentés</button>-->
              <!--</div>-->
            <!--</div>-->

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
