<div class="modal" [ngClass]="{show: showModal, hidden: !showModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="showModal=false" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title">Hír szerkesztés</h4>
      </div>
      <div class="modal-body">
        <div style="margin-bottom: 40px">
          <form [formGroup]="newsForm" (submit)="onSubmit()" class="form-horizontal">

            <div class="form-group">
              <label for="title" class="col-lg-3 control-label">Cím</label>
              <div class="col-lg-9">
                <input formControlName="title" id="title" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="shortDescription" class="col-lg-3 control-label">Rövid leírás</label>
              <div class="col-lg-9">
                <input formControlName="shortDescription" id="shortDescription" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-lg-3 control-label">Hosszú leírás</label>
              <div class="col-lg-9">
                <textarea formControlName="description" id="description" class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="date" class="col-lg-3 control-label">Dátum</label>
              <div class="col-lg-9">
                <input formControlName="date" id="date" type="date" class="form-control" useValueAsDate>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <button [disabled]="!newsForm.valid" type="submit" class="btn btn-primary pull-right">Mentés</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
