.card {
  text-align: center;
  vertical-align: middle;
  height: 100px;
  line-height: 100px;
}

article {
  height: 400px;
  width: 300px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;

  box-shadow: 2px 4px 8px -1px #424242;
  border: 1px solid #153119;
}

article:hover  .content-bottom{
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  top: 0;
  cursor: pointer;
}

.image {
  width: 300px;
  height: 155px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.imageNoPad {
  width: 300px;
  height: 155px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.row-center {
  text-align:center;
}

.col-center {
  display:inline-block;
  float:none;
}

.paypal {
  background: url("../../../assets/imgs/paypal.png") no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 260px;
  height: 115px;
}

.kartya {
  background: url("../../../assets/imgs/card.jpg") no-repeat;
  background-size: cover;
  width: 300px;
  height: 155px;
}



.content-bottom {
  height: 400px;
  width: 300px;
  /*background-color: #eef2d7;*/
  background-color: #307D6D;
  position: absolute;
  color: #ffffff;
  top: 155px;
  left: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.content-title {
  font-size: 36px;
  font-weight: 500;
  margin-top: 10px;
}

.content {
  text-align: justify;
  padding: 20px;
  height: 220px;
}

.content-button a {
  color: white !important;
  text-align: center !important;
  border: 1px white solid;
  border-radius: 3px;
  padding: 4px;
}

.content p:first-child {
  margin-top: 10px;
}


.centerText {
  text-align: center;
  /* vertical-align: middle; */
  line-height: 115px;
  font-size: -webkit-xxx-large;
  font-weight: 700;
}


