<div class="row title">Támogatás</div>
<div class="row row-center">

  <div class="col-lg-2 col-center">
    <article>
      <div class="image">
        <div class="paypal"></div>
      </div>
       <div class="content-bottom">
         <div class="header">IMAGE</div>
         <div class="content-title">Bankkártya</div>
         <div class="content">Csak egy pár szó</div>
       </div>
    </article>
  </div>
  <div class="col-lg-2 col-center">
    <article>
      <div class="imageNoPad">
        <div class="kartya"></div>
      </div>
      <div class="content-bottom">
        <div class="header">IMAGE</div>
        <div class="content-title">Paypal</div>
        <div class="content">Csak egy pár szó</div>
      </div>
    </article>
  </div>
  <div class="col-lg-2 col-center">
    <article>
      <div class="image centerText">1%</div>
      <div class="content-bottom">
        <div class="header">IMAGE</div>
        <div class="content-title">Adó 1%</div>
        <div class="content">Alapítványunk olyan családoknak nyújt segítséget, ahol sérült nevelkedik. Segítséget nyújtunk felügyeletben, gyógytornában, az önálló, támogatott élet elindításában. Adója 1%-ával Ön is hozzájárulhat ehhez a munkához. </div>
      </div>
    </article>
  </div>


</div>
