<div class="row title">Támogatás</div>
<div class="row">

  <div class="col-lg-2 col-lg-offset-3">
    <article>
      <div class="image">felso kep</div>
       <div class="content-bottom">
         <div class="header">IMAGE</div>
         <div class="content-title">Bankkártya</div>
         <div class="content">Csak egy pár szó</div>
       </div>
    </article>
  </div>
  <div class="col-lg-2">
    <article>
      <div class="image">felso kep</div>
      <div class="content-bottom">
        <div class="header">IMAGE</div>
        <div class="content-title">Paypal</div>
        <div class="content">Csak egy pár szó</div>
      </div>
    </article>
  </div>
  <div class="col-lg-2">
    <article>
      <div class="image">felso kep</div>
      <div class="content-bottom">
        <div class="header">IMAGE</div>
        <div class="content-title">Adó 1%</div>
        <div class="content">Csak egy pár szó</div>
      </div>
    </article>
  </div>


</div>
