<div class="row title">Támogatás</div>
<div class="row row-center">

  <!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
    <!--<input type="hidden" name="cmd" value="_s-xclick">-->
    <!--<input type="hidden" name="hosted_button_id" value="AQKET9ATKQNCG">-->
    <!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
    <!--<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">-->
  <!--</form>-->

  <div class="col-lg-2 col-center">
    <article>
      <div class="image">
        <div class="paypal"></div>
      </div>
       <div class="content-bottom">
         <div class="content-title">PayPal</div>
         <div class="content">
           <p>Adományozhat egyszerűen és biztonságosan a PayPal rendszerén keresztül.</p>
         </div>
         <div class="content-button">
           <p class="center"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AQKET9ATKQNCG"><strong>Adományozás</strong></a></p>
         </div>
       </div>
    </article>
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-center">
    <article>
      <div class="imageNoPad">
        <div class="kartya"></div>
      </div>
      <div class="content-bottom">
        <div class="content-title">Bankkártya</div>
        <div class="content">Hamarosan...</div>
      </div>
    </article>
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-center">
    <article>
      <div class="image centerText">1%</div>
      <div class="content-bottom">
        <div class="content-title">Adó 1%</div>
        <div class="content">
          <p>Adója 1%-ának felajánlásával Ön is támogathat minket!</p>
        </div>
        <div class="content-button">
          <p class="center">
            <a href="https://eszja.nav.gov.hu/app/login/#login"><strong>Támogatás</strong></a>
          </p>
        </div>
      </div>
    </article>
  </div>


</div>
