.header {
  top:0;
  left: 0;
  background-color: #ffffff;
  z-index: 99999;
  width: 100%;
  box-shadow: 0px 3px 7px 0px #424242;
  position: absolute;
}

.header-fixed {
  animation: mymove 1s forwards;
  animation-timing-function: ease;
  /*animation-delay: 0.5s;*/
}

@keyframes mymove {
  0%{
    top: -170px;
  }
  100%{
    top:0;
    position: fixed;
  }
}

.logo {
  background-size: 70px 70px;
  background: url("../../../assets/imgs/logo.jpg") no-repeat;
  display: inline-block;
  height: 70px;
  width: 70px;
}

.title {
  font-size: x-large;
}

.newsletter {
  /*transform: translateY(50%);*/
}
