<div class="row">
  <flora-header></flora-header>
  <!--<div class="header-placeholder"></div>-->
  <div scroll style="background-color: bisque" class="col-lg-12 placeholder home">
    <flora-horizontal></flora-horizontal>
  </div>
  <div scroll style="background-color: #ff8782;" class="col-lg-12 placeholder us">
    <h2>Alapítványunk</h2>
    <p><strong>Alapítványunk a kezdetekkor</strong></p>
    <p>Az Alapítványt, 16 évvel ezelőtt, olyan érintett szülő hozta létre, aki az értelmi fogyatékos és autista fiatalok, felnőttek, és családjaik támogatását tűzte ki célul.</p>

    <p>Az Alapítvány az otthonukban élő, önkiszolgálásra részben képes értelmi fogyatékos, autista, esetenként halmozottan sérült fiatalok foglalkoztatásának-, illetve fejlesztési lehetőségeinek anyagi segítését, az őket nevelő szülők összefogását kívánta támogatni, ezzel közhasznú tevékenységet végezni.</p>
    <p>A segítés, 14 éven keresztül, főként közvetett formában valósult meg. Fiataljaink az Óbudai Rehabilitációs és Foglalkoztatási Központ keretében működő ÉNO, majd FNO ellátottjai voltak, nagyrészt ma is azok, így célszerű volt a támogatás jelentős részét, az aktuális vezetővel egyeztetve, az Intézményen keresztül felhasználni, ezzel lehetővé tenni a napközbeni ellátás színvonalának emelését.</p>

    <p>Az Alapítvány anyagi támogatásával lehetővé vált: esetenként, a fejlesztő foglalkozást vezető terapeuták díjazása; sport- illetve szórakoztató eszközök beszerzése; kézművességhez szükséges anyagok vásárlása; az egyéni fejlesztő programok lehetőségének bővítése; egészségmegőrző programok, pl. úszás, bevezetése; fiataljaink szállításának finanszírozása.</p>
    <p>Lényegesnek tartottuk és tartjuk, hogy a szülőket is bevonjuk az Alapítvány tevékenységébe, ezért közkívánatra intézménylátogatásokat, és többek között közösségépítő céllal, kirándulásokat szerveztünk. Mind az intézménylátogatás, mind a kirándulás nyitott volt, a fiatalokon kívül részt vettek ezeken a rendezvényeinken hozzátartozók, intézményi dolgozók, illetve külsős, pl. XI. kerületi „lakóotthonos” tagok is, s néhány régi ÉNO-s fiatal és hozzátartozója is.</p>

    <p>2015 januárjától megváltozott az Alapítvány támogatási rendszere, szükségtelenné vált a közvetett, Intézményen keresztüli támogatás, ezért tevékenységünket átstrukturáltuk.</p>
    <p><strong>Köszönjük Mindazoknak, Akik anyagi hozzájárulásukkal segítették munkánkat, kérjük, amennyiben továbbra is egyetértenek céljainkkal, lehetőség szerint támogassanak a jövőben is!</strong></p>
  </div>
  <!--<div scroll style="background-color: bisque" class="col-lg-12 placeholder gallery">gallery</div>-->
  <div scroll style="background-color: bisque" class="col-lg-12 placeholder events">esemenyek</div>
  <div scroll style="background-color: coral" class="col-lg-12 placeholder colleges">
    <flora-colleague></flora-colleague>
  </div>
  <div scroll style="background-color: coral" class="col-lg-12 placeholder library">tudabazis</div>
  <div scroll style="background-color: #3a87ad" class="col-lg-12 placeholder self left">
   <flora-volunteer></flora-volunteer>
  </div>
  <div scroll style="background-color: darkcyan" class="col-lg-12 placeholder donation">
    donation
    <!--<tabset>-->
      <!--<tab title="Magánszemély">-->

      <!--</tab>-->
      <!--<tab title="Cég">-->
        <!--This is content of the contacts tabasdasds-->
      <!--</tab>-->
    <!--</tabset>-->
  </div>
  <div scroll style="background-color: darkolivegreen" class="col-lg-12 placeholder contact">kapcsolat</div>
  <flora-footer></flora-footer>
  <flora-slider [direction]="'right'"></flora-slider>
</div>
