<div class="row">
  <div scroll style="background-color: silver" class="col-lg-12 placeholder home">
    <flora-horizontal></flora-horizontal>
  </div>
  <div scroll style="background-color: bisque" class="col-lg-12 placeholder contact">rolunk</div>
  <div scroll style="background-color: coral" class="col-lg-12 placeholder gallery">galeria</div>
  <div scroll style="background-color: darkcyan" class="col-lg-12 placeholder donation">tamogatas</div>
  <div scroll style="background-color: darkolivegreen" class="col-lg-12 placeholder projects">projektek</div>
  <flora-footer></flora-footer>
  <flora-slider [direction]="'right'"></flora-slider>
</div>
