<div class="row">
  <flora-header></flora-header>
  <div class="header-placeholder"></div>
  <div scroll style="background-color: #3a87ad" class="col-lg-12 placeholder home">
    <flora-horizontal></flora-horizontal>
  </div>
  <div scroll style="background-color: bisque" class="col-lg-12 placeholder contact">rolunk</div>
  <div scroll style="background-color: coral" class="col-lg-12 placeholder gallery">
    <flora-colleague></flora-colleague>
  </div>
  <div scroll style="background-color: darkcyan" class="col-lg-12 placeholder donation">tamogatas</div>
  <div scroll style="background-color: darkolivegreen" class="col-lg-12 placeholder projects">projektek</div>
  <flora-footer></flora-footer>
  <flora-slider [direction]="'right'"></flora-slider>
</div>
