.slider {
  position: fixed;
  top:60px;
  z-index: 99999;
}

.slider > .row {
  background-color: #F7882E;
  transition: all 1s ease;
  transform: translateX(240px);
  -webkit-box-shadow: 0px 0px 31px 0px gray;
  -moz-box-shadow: 0px 0px 31px 0px grey;
  box-shadow: 0px 3px 7px 0px grey;
  margin-top: 5px;
}

.slider > .row.active {
  transform: translateX(0);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.slider > .row:hover {
  transform: translateX(0);
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.slider.left {
  left: 0;
}

.slider.right {
  right: 0;
}

.menu-label {
  height: 56px;
  line-height: 56px;
  text-transform: uppercase;
  color: aliceblue;
  font-size: 18px;
}

